@page "/demo4"
<h3>Demo4</h3>
<p><input @bind-value="Value" /></p>
<button @onclick="SaveValue">Set</button>
<button @onclick="GetValue">Get</button>

<p>Valeur récupéré : @ValueFromStorage</p>
@code {

}
