@page "/"
@using Microsoft.Extensions.Localization

<PageTitle>Home</PageTitle>

<h1>@(app["_salut"])</h1>

<p>@(home["_homeMessage"])</p>

@code{
    [Inject]
    IStringLocalizer<App> app {get; set;}
    [Inject]
    IStringLocalizer<Home> home { get; set; }
}