<div class="card">
    <div class="card-header">Ajouter un film</div>
    <div class="card-body">
        <EditForm Model="NewMovie" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <p>
                <label>Titre</label>
                <InputText class="form-control" @bind-Value="NewMovie.Title"></InputText>
                <ValidationMessage For="@(() => NewMovie.Title)" class="text-danger" />
            </p>
            <p>
                <label>Réalisateur</label>
                <InputText class="form-control" @bind-Value="NewMovie.Realisator"></InputText>
                <ValidationMessage For="@(() => NewMovie.Realisator)" class="text-danger" />
            </p>
            <p>
                <label>Année de sortie</label>
                <InputNumber class="form-control" @bind-Value="NewMovie.ReleaseYear"></InputNumber>
                <ValidationMessage For="@(() => NewMovie.ReleaseYear)" class="text-danger" />
            </p>
            <p>
                <label>Synopsys</label>
                <InputTextArea class="form-control" @bind-Value="NewMovie.Synopsis"></InputTextArea>
                <ValidationMessage For="@(() => NewMovie.Synopsis)" class="text-danger" />
            </p>
            <button class="btn btn-success">Valider</button>
        </EditForm>
    </div>
</div>
