<h3>Details de @CurrentMovie.Title</h3>

<div class="card">
    <p>Année de sortie : @CurrentMovie.ReleaseYear</p>
    <p>Synopsis : @CurrentMovie.Synopsis</p>
    <p>Realisateur : @CurrentMovie.Realisator</p>
    
</div>

